* {
  box-sizing: border-box;
}
.marketplacecontainer-header {
  display: flex;
  padding-left: 30px;
  justify-content: space-between;
}
.marketplacecontainer-headertext {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
}
.marketplacecontainer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.marketplace-text {
  margin: 90px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: right;
  max-width: 500px;
}
.marketplacesearch-btn {
  width: 173px;
  height: 51px;
  margin-right: 30px;
  margin-top: 25px;
  border: 1px solid #c115ec;
  border-radius: 30px;
}
